.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px 118px;
  max-width: 1308px;
  margin: 0 auto;
  background-color: transparent;
}

.hero-content {
  max-width: 900px;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000;
}

.hero-content p {
  font-size: 36px;
  color: #000000;
  margin-bottom: 32px;
  line-height: 1.5;
  width: 735px;
}

.hero-button {
  background-color: #1D98DB;
  color: white;
  font-size: 16px;
  padding: 14px 28px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 416px;
  height: 52px;
}

.hero-button:hover {
  background-color: #1a709e;
}

.hero-image img {
  width: 600px;
  height: 600px;
  position: absolute;
  bottom: -20px;
  /* left: 0; */
  right: 0;
}

