.faq-section {
  background-color: #dae0ef;
  padding: 60px 20px;
  text-align: center;
}

.faq-section h2 {
  font-size: 40px;
  font-weight: 700;
}

.faq-section h3 {
  font-size: 34px;
  margin-bottom: 67px;
  font-weight: 700;
}

.faq-list {
  max-width: 1111px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.faq-item {
  background-color: #dcdcdc;
  border-radius: 6px;
  box-shadow: 0 3px 14.2px rgba(0, 0, 0, 0.15);
  text-align: left;
  width: 1111px;
  margin: 0 auto;
}

.faq-question {
  width: 100%;
  padding: 16px 20px;
  font-size: 16px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-answer {
  padding: 0 20px 16px 20px;
  font-size: 15px;
  color: #333;
}

.faq-arrow {
  font-size: 16px;
}
