.usecases-section {
  padding: 80px 40px;
  background-color: #E6EAF4;
  text-align: center;
}

.usecases-section h2 {
  font-size: 40px;
  margin-bottom: 12px;
}

.usecases-subtitle {
  font-size: 40px;
  color: #555;
  margin: 0 auto 40px;
  max-width: 990px;
}

.usecases-cards {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 10px;
}

.usecase-card {
  flex-shrink: 0;
  background-color: white;
  border-radius: 16px;
  width: 272px;
  height: 280px;
  padding: 24px;
  box-shadow: -3px 4px 25.4px 2px rgba(0, 0, 0, 0.25);
  text-align: center;
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
}

.usecase-card h3 {
  font-size: 24px;
  width: 224px;
  margin-top: 50px;
  margin-bottom: 19px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.usecase-card p {
  font-size: 16px;
  color: #555;
  text-align: left;
  padding: 0 25px;
  width: 219px;
}


.usecase-btn {
  background-color: #1D98DB;
  width: 249px;
  height: 52px;
  border: none;
  border-radius: 12px;
  color: white;
  margin-top: 41px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.usecase-btn:hover {
  background-color: #1a709e;
}